.mainFooterDiv {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: grey;
}

.mainFooter {
  font-size: 10px;
}

.mainFooterLink {
  color: grey;
}

.mainFooterLink:hover {
  text-decoration: none;
  color: brown;
}

.mainFooterLink:active {
  text-decoration: none;
  color: brown;
}